<div class="container">

  <div class="panel panel-default">
    <div class="panel-heading">Snowboard</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Current Snowboard</legend>
      <form method="post" ng-submit="updateSnowboard()">

        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Snowboard Picture</label>
              <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Brand</label>
              <input type="text" class="form-control" ng-model="user.snowboardBrand" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Model</label>
              <input type="text" class="form-control" ng-model="user.snowboardModel" />
            </div>
            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Size</label>
              <input type="text" class="form-control" ng-model="user.snowboardSize" />
            </div>
          </div>
        </div>

        <button class="btn btn-lg btn-primary pull-right">Update</button>
      </form>

      <div class="modal-header">
        <h3 class="modal-title">I'm a modal!</h3>
      </div>
      <div class="modal-body">
        <ul>
          <li ng-repeat="item in items">
            <a href="#" ng-click="$event.preventDefault(); selected.item = item">{{ item }}</a>
          </li>
        </ul>
        Selected: <b>{{ selected.item }}</b>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
      </div>

      <button type="button" class="btn btn-default" ng-click="open()">Open me!</button>
      <button type="button" class="btn btn-default" ng-click="open('lg')">Large modal</button>
      <button type="button" class="btn btn-default" ng-click="open('sm')">Small modal</button>
      <button type="button" class="btn btn-default" ng-click="toggleAnimation()">Toggle Animation ({{ animationsEnabled }})</button>
      <div ng-show="selected">Selection from a modal: {{ selected }}</div>


      <!-- <div>
        <button ng-click="toggleModal()" class="btn btn-lg btn-primary pull-right">Add a review</button>
        <modal title="Login form" visible="showModal">
          <form role="form">
            <div class="form-group">
              <label for="brand">Manufacturer</label>
              <input type="text" class="form-control" id="manufacturer" placeholder="manufacturer" />
            </div>
            <div class="form-group">
              <label for="model">Model</label>
              <input type="text" class="form-control" id="model" placeholder="model" />
            </div>
            <div class="form-group">
              <label for="model">Size</label>
              <input type="text" class="form-control" id="size" placeholder="size" />
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
          </form>
        </modal>
      </div> -->

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Bindings</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Current Bindings</legend>
      <form method="post" ng-submit="updateBindings()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Bindings Picture</label>
              <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Brand</label>
              <input type="text" class="form-control" ng-model="user.bindingsBrand" />
            </div>

            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Model</label>
              <input type="text" class="form-control" ng-model="user.bindingsModel" />
            </div>

            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Size</label>
              <input type="text" class="form-control" ng-model="user.bindingsSize" />
            </div>
          </div>
        </div>
        <button class="btn btn-lg btn-success pull-right">Update Bindings</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Boots</div>
    <div class="panel-body">
      <legend><i class="ion-clipboard"></i> Current Boots</legend>
      <form method="post" ng-submit="updateBoots()">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label">Boots Picture</label>
              <img class="profile-picture" ng-src="{{user.picture || 'http://placehold.it/100x100'}}">
            </div>
          </div>

          <div class="col-sm-6">
            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Brand</label>
              <input type="text" class="form-control" ng-model="user.bootsBrand" />
            </div>

            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Model</label>
              <input type="text" class="form-control" ng-model="user.bootsModel" />
            </div>

            <div class="form-group">
              <label class="control-label"><i class="ion-arrow-right-b"></i> Size</label>
              <input type="text" class="form-control" ng-model="user.bootsSize" />
            </div>
          </div>
        </div>
        <button class="btn btn-lg btn-success pull-right">Update Boots</button>
      </form>
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">Previous Setups</div>
    <div class="panel-body">
      <div class="row">

      <div class="col-sm-12">
        <legend><i class="ion-calendar"></i> Previous Setups</legend>

        <div class="form-group">
          <label class="control-label">2014</label>
          <img class="profile-picture" ng-src="{{'http://placehold.it/100x100'}}">
        </div>

        <div class="form-group">
          <label class="control-label">2013</label>
          <img class="profile-picture" ng-src="{{'http://placehold.it/100x100'}}">
        </div>

        <div class="form-group">
          <label class="control-label">2012</label>
          <img class="profile-picture" ng-src="{{'http://placehold.it/100x100'}}">
        </div>

        <div class="form-group">
          <label class="control-label">2011</label>
          <img class="profile-picture" ng-src="{{'http://placehold.it/100x100'}}">
        </div>
      </div>

    </div>


  </div>
</div>
</div>
