<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="panel panel-default">
        <div class="panel-heading">Profile</div>
        <div class="panel-body">

          <p>
            <img class="profile-picture-large" ng-src="{{user.picture || 'http://placehold.it/300x300'}}">
          </p>

          <ul class="list-group">
            <li class="list-group-item">{{user.displayName}}</li>
            <li class="list-group-item">Age: </li>
            <li class="list-group-item">Weight: </li>
            <li class="list-group-item">Local Mountain: </li>
            <li class="list-group-item">Country: </li>
          </ul>
          <p><a class="btn btn-primary" href="#">View details »</a></p>
        </div>
      </div>
    </div>

    <div class="col-sm-8">

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Stats</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">Level: </li>
              <li class="list-group-item">Days Snowboarded: </li>
              <li class="list-group-item">Mountains Visited: </li>
            </ul>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Gears</div>
          <div class="panel-body">
            <ul class="list-group">
              <li class="list-group-item">{{user.snowboardBrand}} {{user.snowboardModel}} {{user.snowboardSize}}</li>
              <li class="list-group-item">{{user.bindingsBrand}} {{user.bindingsModel}}</li>
              <li class="list-group-item">{{user.bootsBrand}} {{user.bootsModel}}</li>
            </ul>
            <p><a class="btn btn-primary" href="#">View details »</a></p>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">News</div>
    <div class="panel-body">
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <h2>ROME MOD ROCKER<small>REVIEW</small></h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p><a class="btn btn-primary" href="#">MOAR »</a></p>
        </div>
      </div>
    </div>
    <div class="panel-footer text-center">
      <ul class="list-inline">
        <li><i class="ion-star"></i> {{stars | number}} stars</li>
        <li><i class="ion-fork-repo"></i> {{forks | number}} forks</li>
        <li><i class="ion-pull-request"></i> {{issues | number}} issues</li>
      </ul>
    </div>
  </div>

  <div class="text-center">
    <a class="btn btn-default" href="https://github.com/sahat/satellizer"><i class="ion-social-github"></i> GitHub project</a>
    <a class="btn btn-default" href="https://github.com/sahat/satellizer/issues/new"><i class="ion-bug"></i> Report issue</a>
  </div>
</div>
