<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Snowboard Rankings</div>

    <!-- Table -->
    <table class="table">
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
      </tr>
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
      </tr>
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
      </tr>
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
      </tr>
      <tr>
        <td>test1</td>
        <td>test2</td>
        <td>test3</td>
      </tr>
    </table>
  </div>
</div>
