<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">Snowboard Rankings</div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Top Snowboards of 2016</th>
          <th>Rating</th>
          <th>Company</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>1</td>
          <td>test1</td>
          <td>test2</td>
          <td>test3</td>
        </tr>
        <tr>
          <td>2</td>
          <td>test1</td>
          <td>test2</td>
          <td>test3</td>
        </tr>
        <tr>
          <td>3</td>
          <td>test1</td>
          <td>test2</td>
          <td>test3</td>
        </tr>
        <tr>
          <td>4</td>
          <td>test1</td>
          <td>test2</td>
          <td>test3</td>
        </tr>
        <tr>
          <td>5</td>
          <td>test1</td>
          <td>test2</td>
          <td>test3</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
