<div class="container">

  <div ng-if="isAuthenticated() && currentUser.username">
    <div class="row">
      <div class="col-lg-2 col-sm-3 col-xs-4">

        <h1>Battle Snow Gear<small> #{{currentUser.username}}</small></h1>
        <ul>
          <li>
            Weight: 160lbs
          </li>
          <li>
            Height: 5'8"
          </li>
          <li>
            Feet: 8.0
          </li>
        </ul>

        <h4>Snowboard</h4>
        <ul>
          <strong>Salomon Villain</strong><small> 2015</small>
          <li>
            Size: 155cm
          </li>
          <li>
            Stance: Regular
          </li>
          <li>
            Type: True Twin
          </li>
          <li>
            Flex: 4
          </li>
          <li>
            Profile: Rocker/Camber/Rocker
          </li>
        </ul>

        <h4>Bindings</h4>
        <ul>
          <strong>Rome Mob Boss</strong><small> 2015</small>
          <li>
            Binding Angles: 12/-6
          </li>
          <li>
            Stance Width: 21"
          </li>
          <li>
            Cant: 3.5
          </li>
        </ul>

        <h4>Boots</h4>
        <ul>
          <strong>Nike Kaiju</strong><small> 2015</small>
          <li>
            Size: 8.5
          </li>
          <li>
            Flex: Medium
          </li>
          <li>
            Lace: Traditional
          </li>
        </ul>

      </div>
    </div>
    <!-- <div class="row">
      <div ng-repeat="photo in photos" class="col-lg-2 col-sm-3 col-xs-4">
        <a href="#/photo/{{photo.id}}">
          <img ng-src="{{photo.images.standard_resolution.url}}" class="thumbnail img-responsive">
        </a>
      </div>
    </div> -->
  </div>

  <div ng-if="!isAuthenticated()">
    <div class="jumbotron">
      <h2><i class="ion-images"></i> Instagram</h2>
      <p>This is a basic Instagram clone powered by <strong>Satellizer</strong>. To continue, please log in with your Instagram account or create a new email account.</p>
      <p>
        <a class="btn btn-lg btn-success" href="#/login"><i class="ion-log-in"></i> Log in</a>
        <a class="btn btn-lg btn-primary" href="#/signup"><i class="ion-person-add"></i> Create account</a>
      </p>
    </div>
  </div>

  <div ng-if="isAuthenticated() && !currentUser.username" class="center-form panel">
    <div class="panel-body">
      <h5 class="text-center"><i class="ion-link"></i> Link Account</h5>
      <p>To complete the registration process you must link your Instagram account.</p>
      <button class="btn btn-block btn-instagram" ng-click="linkInstagram()">
        <i class="ion-social-instagram"></i> Sign in with Instagram
      </button>
    </div>
  </div>

</div>
